.image-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.image-container img {
    width: 30%;
    margin-right: 20px;
    margin-top: 50px;
}

.image-container .text {
    flex: 1;
    align-items: center;
}

.image-container-reverse {
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: row-reverse;
}

.image-container-reverse img {
    width: 30%;
    margin-left: 20px;
    margin-top: 50px;
}

.image-container-reverse .text {
    flex: 1;
    align-items: center;
}